# This file may be used to create an environment using:
# ---- MAC ----
# $ CONDA_SUBDIR=osx-64 conda create --name mediapipe_x86_TEST python=3.8
# platform: osx-64
# ---- WINDOWS ----
# $ conda create --name mediapipe_x86 python=3.8
# platform: win-64
opencv-python==4.10.0.84
mediapipe==0.10.11
numpy==1.24.4